body {
    background: #aabbee;
    font-family: sans-serif;
}

ol, ul {
    margin: 2px;
}

.code, code {
    font-family: monospace;
    font-size: 12pt;
}

.content {
    margin-left: 30px;
}

h1 {
    color: midnightblue;
}

    h1:not(:first-of-type) {
        margin-top: 2em;
    }

h2 {
    margin-top: 2em;
    font-size: 16pt;
    color: darkblue;
}

h1 + h2 {
    margin-top: 0px;
}

h4 {
    margin: 0px;
    font-weight: bold;
    font-size: 12pt;
}

.warn {
    font-weight: bold;
    color: #aa0000;
}

.hint {
    font-weight: bold;
    color: #0066aa;
}

.picarray {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figcaption {
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}